.promo__picture {
    height: 304px;
    width: 310px;
    margin-right: calc(0.05469 * 100vw);
}

@media screen and (max-width: 768px) {
    .promo__picture {
        margin-right: 0;
    }
}

@media screen and (max-width: 625px) {
    .promo__picture {
        height: 206px;
        width: 210px;
    }
}