.about__block {
    display: flex;
    flex-direction: row;
    margin-top: 66px;
    justify-content: space-between;
    margin-bottom: 101px;
}

@media screen and (max-width: 768px) {
    .about__block {
        margin-bottom: 91px;
    }
}

@media screen and (max-width: 625px) {
    .about__block {
        flex-direction: column-reverse;
        margin-top: 60px;
        align-items: center;
        margin-bottom: 70px;
    }
}