.techs__set {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

@media screen and (max-width: 625px) {
    .techs__set {
        margin-right: calc(0.16563 * 100vw);
        margin-left: calc(0.16563 * 100vw);
    }
}

@media screen and (max-width: 425px) {
    .techs__set {
        width: 178px;
        justify-content: flex-start;
    }
}