.promo__layout {
    display: flex;
    flex-direction: column;
    margin-left: calc(0.05469 * 100vw);
    margin-right: min(calc(0.14844 * 100vw), 190px);
}

@media screen and (max-width: 768px) {
    .promo__layout {
        margin-top: 48px;
        margin-right: 0;
        margin-left: 0;
        align-items: center;
    }
}

@media screen and (max-width: 625px) {
    .promo__layout {
        margin-top: 44px;
    }
}