.section {
    padding-top: 110px;
    padding-right: max(calc(0.05469 * 100vw), 18px);
    padding-left: max(calc(0.05469 * 100vw), 18px);
    padding-bottom: 110px;
}

@media screen and (max-width: 768px) {
    .section {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 625px) {
    .section {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}