.header__signup {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFF;
}

@media screen and (max-width: 625px) {
    .header__signup {
        font-size: 10px;
    }
}