.footer__block-links {
    display: flex;
    flex-direction: row;
    column-gap: 20px;

}

@media screen and (max-width: 625px) {
    .footer__block-links {
        flex-direction: column;
        row-gap: 12px;
        align-items: center;
    }
}