.techs__text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    margin-bottom: 100px;
    width: 460px;
}

.techs__subtitle {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    margin-top: 90px;
    margin-bottom: 26px;
}

.techs__set {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.techs__layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techs__block-text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.04em;
    margin-top: 21px;
}

.techs__block {
    background: #E8E8E8;
    border-radius: 10px;
    height: 60px;
    width: 90px;
}

@media screen and (max-width: 768px) {
    .techs__block {
        height: 57px;
        width: 84px;
    }

    .techs__block-text {
        font-size: 12px;
        line-height: 15px;
    }

    .techs__subtitle {
        margin-top: 80px;
        margin-bottom: 22px;
    }

    .techs__text {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 83px;
    }
}

@media screen and (max-width: 625px) {
    .techs__text {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 50px;
        width: 292px;
    }

    .techs__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin-top: 60px;
        margin-bottom: 24px;
    }

    .techs__set {
        margin-right: calc(0.16563 * 100vw);
        margin-left: calc(0.16563 * 100vw);
    }
}

@media screen and (max-width: 425px) {
    .techs__set {
        width: 178px;
        justify-content: flex-start;
    }
}