.about__photo {
    object-fit: cover;
    border-radius: 10px;
    height: 327px;
    width: 270px;
}

@media screen and (max-width: 768px) {
    .about__photo {
        height: 307px;
        width: 255px;
    }
}

@media screen and (max-width: 625px) {
    .about__photo {
        height: 352px;
        width: 292px;
    }
}