.section_for_about {
    background-color: #fff;
    max-height: 1079px;
}

@media screen and (max-width: 768px) {
    .section_for_about {
        max-height: 994px;
    }
}

@media screen and (max-width: 625px) {
    .section_for_about {
        max-height: 1198px;
    }
}