.project__article {
    max-width: min(calc(0.42969 * 100vw), 550px);
}

.project__article:first-child {
    margin-right: 40px;
}

@media screen and (max-width: 768px) {
    .project__article {
        max-width: min(calc(0.41537 * 100vw), 319px);
    }
    .project__article:first-child {
        margin-right: 30px;
    }
}

@media screen and (max-width: 625px) {
    .project__article {
        max-width: min(calc(0.8875 * 100vw), 319px);
    }
    .project__article:first-child {
        margin-right: auto;
    }
}