.project__layout {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 110px;
}

@media screen and (max-width: 768px) {
    .project__layout {
        margin-bottom: 93px;
    }
}

@media screen and (max-width: 625px) {
    .project__layout {
        margin-top: 60px;
        flex-direction: column;
        margin-bottom: 60px;
    }
}