.section__for_about {
    max-height: 1079px;
}

@media screen and (max-width: 768px) {
    .section__for_about {
        max-height: 994px;
    }
}

@media screen and (max-width: 625px) {
    .section__for_about {
        max-height: 1198px;
    }
}